aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1745334642479/work
appdirs==1.4.4
asgiref @ file:///croot/asgiref_1724072470684/work
asttokens @ file:///croot/asttokens_1743630435401/work
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs @ file:///croot/attrs_1734533101012/work
Automat @ file:///croot/automat_1743532562209/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1626289577808/work
bcrypt @ file:///croot/bcrypt_1747402770140/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
blinker @ file:///croot/blinker_1737448726027/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
build @ file:///croot/python-build_1736540783915/work
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///croot/certifi_1750863846190/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chromadb @ file:///home/conda/feedstock_root/build_artifacts/chromadb_1747120483791/work
click @ file:///croot/click_1744271578095/work
coloredlogs @ file:///croot/coloredlogs_1736873914788/work
comm @ file:///croot/comm_1709322850197/work
constantly @ file:///croot/constantly_1703165600746/work
cryptography @ file:///croot/cryptography_1740577825284/work
cssselect @ file:///croot/cssselect_1707339882883/work
dataclasses-json @ file:///croot/dataclasses-json_1715264788438/work
datasets @ file:///croot/datasets_1741367990881/work
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///opt/conda/conda-bld/deprecated_1659726428456/work
dill @ file:///croot/dill_1715094664823/work
distro @ file:///croot/distro_1714488253808/work
dnspython @ file:///croot/dnspython_1703096966733/work
durationpy @ file:///croot/durationpy_1743117063562/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1740751705/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
filelock @ file:///croot/filelock_1744281381737/work
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///croot/fsspec_1736274672181/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth @ file:///croot/google-auth_1741275169457/work
googleapis-common-protos @ file:///croot/googleapis-common-protos-feedstock_1742588908677/work
greenlet @ file:///croot/greenlet_1733860072744/work
grpcio @ file:///croot/grpc-split_1716834572340/work
h11 @ file:///croot/h11_1706652277403/work
html2text @ file:///home/conda/feedstock_root/build_artifacts/html2text_1744698482337/work
httpcore @ file:///croot/httpcore_1706728464539/work
httptools @ file:///croot/httptools_1732546866413/work
httpx @ file:///croot/httpx_1746747840559/work
httpx-sse @ file:///croot/httpx-sse_1734627584487/work
huggingface_hub @ file:///croot/huggingface_hub_1747423383041/work
humanfriendly @ file:///croot/humanfriendly_1736867665883/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
incremental @ file:///croot/incremental_1743512672142/work
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1734548052611/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1743512857112/work
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter @ file:///croot/jiter_1729808929109/work
jmespath @ file:///croot/jmespath_1700144569655/work
joblib @ file:///croot/joblib_1718217211762/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
kubernetes @ file:///croot/python-kubernetes_1743549443578/work
langchain @ file:///croot/langchain_1746649153909/work
langchain-chroma @ file:///home/conda/feedstock_root/build_artifacts/langchain-chroma_1747382825354/work
langchain-community @ file:///croot/langchain-community_1734724662782/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1747358574531/work
langchain-huggingface @ file:///home/conda/feedstock_root/build_artifacts/langchain-huggingface_1746682740550/work
langchain-openai==0.3.5
langchain-text-splitters @ file:///croot/langchain-text-splitters_1746641973243/work
langgraph @ file:///home/conda/feedstock_root/build_artifacts/langgraph_1751019688526/work
langgraph-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/langgraph-checkpoint_1750167556437/work
langgraph-prebuilt @ file:///home/conda/feedstock_root/build_artifacts/langgraph-prebuilt_1751045888733/work
langgraph-sdk @ file:///home/conda/feedstock_root/build_artifacts/langgraph-sdk_1747136126630/work
langserve==0.3.1
langsmith @ file:///croot/langsmith_1733128066002/work/python
lxml @ file:///croot/lxml_1737039601731/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
marshmallow @ file:///croot/marshmallow_1682620721570/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mmh3 @ file:///croot/mmh3_1736366924692/work
monotonic==1.5
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725974993022/work
multidict @ file:///croot/multidict_1730905498140/work
multiprocess @ file:///croot/multiprocess_1692294385131/work
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
neo4j @ file:///croot/neo4j-suite_1746614522559/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1737039604450/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
oauthlib @ file:///croot/oauthlib_1679489621486/work
onnxruntime @ file:///croot/onnxruntime_1738340884285/work/build-ci/Release/dist/onnxruntime-1.20.1-cp310-cp310-linux_x86_64.whl#sha256=cc21d3105f29a526c25ac02176dbe4406f9f336ce5a30e05479e575b63ac74de
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1737410806020/work
opentelemetry-api @ file:///croot/opentelemetry-api_1743171649300/work
opentelemetry-exporter-otlp-proto-grpc @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-grpc_1671651488644/work
opentelemetry-instrumentation @ file:///croot/opentelemetry-instrumentation_1743176247891/work
opentelemetry-instrumentation-asgi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-asgi_1738893019447/work
opentelemetry-instrumentation-fastapi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-fastapi_1739024670823/work
opentelemetry-proto @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-proto_1671645954676/work
opentelemetry-sdk @ file:///croot/opentelemetry-sdk_1743174386467/work
opentelemetry-semantic-conventions @ file:///croot/opentelemetry-semantic-conventions_1743173264651/work
opentelemetry-util-http @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-util-http_1738727871301/work
orjson @ file:///croot/orjson_1737039092779/work
ormsgpack @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ormsgpack_1748472170/work
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp310-cp310-linux_x86_64.whl#sha256=3fa290e76efa7b7868273de6ab4ee4a73af177cdd88202834ad0eea6dd898d9e
parsel @ file:///croot/parsel_1707503445438/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///croot/pillow_1744613067434/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
posthog @ file:///croot/posthog_1741101786841/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache @ file:///croot/propcache_1744012718189/work
Protego @ file:///croot/protego_1746474567874/work
protobuf==4.25.3
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client @ file:///home/conda/feedstock_root/build_artifacts/pulsar-client_1725542253939/work/dist/pulsar_client-3.5.0-cp310-cp310-linux_x86_64.whl#sha256=2f12bade5b2bca493427af84bb3e287c29f1d1c174dd93e9e678ed3f40869732
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1734736067156/work
pydantic-settings @ file:///croot/pydantic-settings_1730800837989/work
pydantic_core @ file:///croot/pydantic-core_1734726052986/work
PyDispatcher==2.0.5
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT @ file:///croot/pyjwt_1736178889029/work
pyOpenSSL @ file:///croot/pyopenssl_1741343803032/work
PyPika @ file:///home/conda/feedstock_root/build_artifacts/pypika_1734974148700/work
pyproject_hooks @ file:///croot/pyproject_hooks_1679584411881/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-multipart @ file:///croot/python-multipart_1743518669127/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
queuelib @ file:///croot/queuelib_1696950067631/work
referencing @ file:///croot/referencing_1699012038513/work
regex @ file:///croot/regex_1736540786412/work
requests @ file:///croot/requests_1730999120400/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-oauthlib @ file:///croot/requests-oauthlib_1720615017878/work
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
rich @ file:///croot/rich_1732638981168/work
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
safetensors @ file:///croot/safetensors_1741361308036/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp310-cp310-linux_x86_64.whl#sha256=4055d6b52bbbfc19594ac7c25008889945de175e153afc0935b6415716fa348e
Scrapy @ file:///croot/scrapy_1743540888698/work
sentence-transformers @ file:///home/conda/feedstock_root/build_artifacts/sentence-transformers_1744730038855/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
shellingham @ file:///croot/shellingham_1669142169426/work
six @ file:///croot/six_1744271502820/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy @ file:///croot/sqlalchemy_1745854522333/work
sse-starlette==2.3.6
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1737823930525/work
sympy @ file:///croot/sympy_1738108488918/work
tenacity @ file:///croot/tenacity_1730302500303/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tiktoken==0.9.0
tldextract @ file:///croot/tldextract_1723064386918/work
tokenizers @ file:///croot/tokenizers_1741370336077/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch @ file:///croot/libtorch_1738269269729/work
torchaudio @ file:///croot/torchaudio_1739894002011/work
torchvision @ file:///croot/torchvision_1746818797271/work
tornado @ file:///croot/tornado_1733960490606/work
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets @ file:///croot/traitlets_1718227057033/work
transformers @ file:///croot/transformers_1741705251010/work
Twisted @ file:///croot/twisted_1743537782170/work
typer==0.15.4
typer-slim==0.15.4
typing-inspect @ file:///croot/typing_inspect_1695742055572/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///croot/urllib3_1737133630106/work
uvicorn @ file:///croot/uvicorn-split_1732660726596/work
uvloop @ file:///croot/uvloop_1732545176183/work
w3lib @ file:///croot/w3lib_1708639924738/work
watchfiles @ file:///croot/watchfiles_1732647634404/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets @ file:///croot/websockets_1736541022633/work
wrapt @ file:///croot/wrapt_1736540904746/work
xxhash @ file:///croot/python-xxhash_1737039434400/work
yarl @ file:///croot/yarl_1732546845924/work
zipp @ file:///croot/zipp_1732630741423/work
zope.interface @ file:///croot/zope.interface_1731939362051/work
